
<div id="add_account">
  <div class="modal-dialog" style="left: 0;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" title="Close" data-toggle='tooltip' data-placement="left" data-original-title="close" data-trigger="hover"><span aria-hidden="true">x</span><span class="sr-only">Close</span>

        </button>

        <div class="connect_title">
          <span>Connect an Account</span>
        </div>
      </div>

      <div class="account-content">
        <h1>Content</h1>
      </div>
    </div>
  </div>
</div>

