<div class="box-hero">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="row list-agent" itemprop="offers" itemtype="http://schema.org/Offer">
        <li class=" col-xs-12" itemprop="seller" itemtype="http://schema.org/Person">
          <meta itemprop="telephone" content="0419 032 042">
          <a data-pt-event-type="16" data-toggle="modal" data-target="#modal-agent-1" title="More about Rosalie">
            <figure>
              <div class='headshotDiv' style='background-image:url(<%= agent.photo.url %>);'></div>
              <%= image_tag agent.photo.url, alt: "Photo of #{agent.full_name}", class: "img-seo-handle" %>
              <span class="plus">
                <i class="fa fa-info light-color" aria-hidden="true"></i>
              </span>
            </figure>
            <h3 class="ellipsis light-color" itemprop="name">
            <small><%= agent.first_name %></small> <%= agent.last_name %>
            </h3>
          </a>
          <h4 class="hidden-xs light-color">
          <span data-clickreveal="0419 032 042" data-clickreveal-event-type="11">0419 032 ...</span>
          </h4>
          <div class="clearfix"></div>
          <a class="btn btn-primary pull-right btn-block btn-sm visible-xs light-color" href="tel:0419 032 042" itemprop="telephone" data-pt-event-type="4">
            call
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
