.link-btn {
  border: none;
  font-size: 1.5em;
  border-radius: 30px;
  padding: 3px 15px;
}

.link-btn.h5 {
  font-style: italic;
  font-weight: lighter;
}

.link-black {
  font-family: "Open Sans";
  color: #000;
}
.link-black:hover {
  color: #000;
}

.link-red {
  font-family: "Open Sans";
  background-color: #f26665;
  color: white;
  text-decoration: none;
}

.create-queue-btn {
  padding: 0 15px;
}

.btn-round {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 5px;
  color: #fff;
  border-radius: 30px / 95%;
  margin-bottom: 10px;
}
.btn-black {
  background-color: #353536;
}
.btn-black:hover {
  color: #fff;
  background: #4e4e4e;
}
.btn-red {
  background-color: #f26665;
}
.btn-red:hover {
  color: #fff;
  background-color: #f98584;
}

