.full_underline {
  border-bottom: solid 1px #b5b5b5;
  padding-bottom: 15px;
  display: block;
}

.header--underline {
  border-bottom: solid 1px #b5b5b5;
  padding-bottom: 15px;
  display: block;
  margin-top: -5px;
}
