.text-center {
  text-align: center;
}

.setmargin {
  margin-left: 8.333% !important;
}
#popup_div_height {
  /*height: 400px !important;*/
}
#my-tab-content {
  background: #eee !important;
}
.publishtab_cnt {
  height: 340px !important;
}
#popup_div_height {
  background: #fff;
}
input#add-button {
  background: #10ac4b !important;
}
#publish_btn {
  display: none !important;
}
.close {
  display: none !important;
}
.col-lg-12 a {
  margin-right: 0% !important;
}
.col-lg-12 lknbg {
  background: #ddd;
}
#linkedin_PostText {
  font-size: 10px !important;
}
.page-name {
  background-color: #fff;
  color: #3c5b9b;
  font-size: 26px;
  font-weight: bold;
}
#logo_class {
  margin-top: -10px;
}
.success_msg {
  color: #fff;
  padding: 5px;
  width: 50%;
  background-color: #8ec517;
}
.failed_msg {
  color: #fff;
  padding: 5px;
  width: 50%;
}
.prof_img_media img {
  border-radius: 50%;
}
.facebook_posts {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.fbtitle {
  margin-bottom: 5px;
}
.fbtitle p {
  margin: 0px;
}
.postright p {
  margin: 0px;
  font-size: 13px;
}
.fbtimging {
  padding: 5px 0;
  font-size: 11px;
}
.facebook_viwers div {
  text-align: center;
}
.facebook_viwers div i {
  position: relative;
  top: -10px;
  left: 19%;
  font-size: 20px;
}
.btngreen {
  background: rgb(142, 197, 23);
  border-radius: 25px;
  color: rgb(255, 255, 255) !important;
  font-size: 13px;
  padding: 8px 19px !important;
}
.popfooter i {
  font-size: 20px;
  padding: 0 3px;
  position: relative;
  top: 5px;
}
.content_pop_center {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin: 1px 0 0 -36px;
  padding: 7px;
  position: relative;
  width: 113%;
}
a:hover {
  text-decoration: none;
}
.account-panel {
  height: 350px;
  background-color: #fff;
  border: 5px solid #eee;
  padding-top: 10px;
}
.fullwidthbtn {
  width: 100%;
  margin-bottom: 5px;
}
.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 360px) and (max-width: 1024px) {
  .insta_profile_name {
    font-size: 14px;
  }
  .fullwidthbtn {
    font-size: 12px;
  }
}
.radio input[type=radio] {
  display: none !important;
}
.white {
  background-color: #FFFFFF;
}
#opt_panels {
  text-align: center;
}

.opt_panel {
  padding: 15px;
  padding-bottom: 0px;
  background: #fff;
  border: 1px solid #EBEBEB;
  height: 360px;
  margin-bottom: 10px;

  p {
    /*font-size: 18px!important;*/
    color: #000;
    padding: 10px;
    text-align: center;
  }

  img {
    height: 40%;
  }

  h3 {
    font-size: 25px !important;
  }
}
.opt_selected {
  /*background: #f05c5a;*/
  border-color: #f05c5a;
}
.row {
  margin-bottom: 15px;
}

.setting-icons {
  width: 100px;
  margin: 50px 20px 20px 20px;
}

.flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 50vh;*/
  /*flex-direction: column;*/
}
.new-item-prompt {
  text-align: center;
  opacity: .5;
  margin-top: 60px;

  img {
    width: 100px;
    margin-bottom: 20px;
  }

  h1 {
    color: #f26665;
  }
}
.batch-setup-box {
  width: 1000px;
  background: #F9F9F9;
  padding: 10px;
}

.batch-name-right {
  float: right;
  text-transform: uppercase;
}
.cat_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#queue_list_started_on {
  border: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: none;
  font-style: italic;
}
.cust-label {
  font-family: "Open Sans";
  font-size: 0.9em;
  font-style: italic;
}
.borderless {
  border: none;
  box-shadow: none;
  margin-bottom: 15px !important;
}
.end-date {
  background-color: #414858 !important;
  color: #fff;
  font-style: italic;
  cursor: default;
}
