.event_block {
    height: 630px;
    overflow: auto;
    overflow-x: hidden;
    padding: 15px;
    background-color: #eee;
}

.opt_selected {
    background-color: #286090;
}

.ddcus{
  float: right;

}
.ddcus>button{
  color: #151515;
}
.ddcus>button:hover{
  color: #151515;
}
.ddcus>ul{
  position:absolute!important;
  right: 0;
  left: auto;
}
.ddcus>ul>li{
  border:none;
  float:none;
  padding: 5px!important;


}
.ddcus>ul>li>a{
  width:100%;
  padding: 3px 10px;
}
.ddcus>ul>li>a:hover{
  background: #CCCCCC;
  color: #232323;
}

.instagram_preview {
    background-color: #fff;
}