/*
 *= require css_002
 *= require css
 *= require propertyshowcase/font-iconline
 *= require template
 *= require photoswipe
 *= require propertyshowcase/default-skin
 *= require properties-in
 */

form .box-checkbox .control .control-indicator:after,
footer[role=contentinfo] .btn:hover,
.text-content ul li:before,
.bar-inspection .col-inspection.title-inspection:before,
.bar-inspection .col-inspection.date-inspection,
.h4::before,
h4::before,
section h2::before,
#bar-title .box-date.box-date-auction [class*='col-'].part-title,
.btn-primary,
.bg-primary {
  background: #107896;
}
body.template-light-color .bar-bottom ul.specificity li strong,
aside.box form .box-checkbox .control.checked .control-indicator .icon,
aside.box form .box-checkbox .control input:checked:focus
  ~ .control-indicator .icon,
header[role='banner'] footer .list-icon-header ul li a:hover strong,
header[role='banner'] footer .list-icon-header ul li a:hover .icon,
.navbar .social li > a:hover,
.bar-bottom .btn-group.btn-icon .btn:hover,
aside .box-hero figure .plus,
.label-primary,
.brand-primary {
  color: #107896;
}
footer[role=contentinfo] .btn:hover,
.spinner-layer,
.label.label-border.label-primary,
.btn-primary {
  border-color: #107896 !important;
}
#bar-title .box-date.box-date-auction [class*='col-'].part-title:after,
.bar-inspection .col-inspection.date-inspection:after {
  border-left-color: #107896 !important;
}
@media (min-width: 768px) {
  aside .box-hero {
    background: #107896 !important;
  }
  aside .box-hero:after {
    background: #107896 !important;
  }
  aside .box-hero:before {
    border-top-color: #107896 !important;
  }
}
@media (min-width: 992px) {
  body.template-light-color .navbar .navbar-nav > li.active > a,
  body.template-light-color .navbar .navbar-nav > li > a:hover {
    color: #107896 !important;
  }
}

.bar-inspection .col-inspection.title-inspection:before,
.bar-inspection .col-inspection.title-inspection,
.btn-primary:hover {
  background: #583407 !important;
}
body.template-light-color .light-color.label.label-primary, .btn-primary:hover {
  border-color: #583407 !important;
}
.bar-inspection .col-inspection.title-inspection:after {
  border-left-color: #583407 !important;
}
body.template-light-color .light-color {
  color: #583407 !important;
}
.addtocalendar-lg-btn {
  background: #107896 !important;
}
