.track3 {
  width: 10px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 10px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}

.headline--center {
  text-align: center;
}

.track3:hover, .track3.dragging {
  background: #d9d9d9;
  background: rgba(0, 0, 0, 0.15);
}

.handle3 {
  width: 7px;
  right: 0;
  background: #999;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}

.track3:hover .handle3, .track3.dragging .handle3 {
  width: 10px;
}

.wide-dialog {
  width: 1000px;
}
.white-header {
  background-color: #fff !important;
  border-bottom: none;
  padding: 25px;
}
.white-footer {
  border-top: none;
}
.acc-title {
  font-style: "Open Sans";
  color: #000;
}
.net-border {
  background-color: #F1F1F1;
  border-radius: 7px;
  min-height: 270px;
}
.acc-net-title {
  font-family: "Open Sans";
  color: #fff;
  letter-spacing: 0.1em;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 3px;
}
.acc-facebook {
  background-color: #3c5a98;
}
.acc-twitter {
  background-color: #54abee;
}
.acc-linkedin {
  background-color: #007bb6;
}
.acc-instagram {
  background-color: #4D423C;
}
.acc-btns .publish_tab_btn {
  width: 100%;
  border-radius: 30px / 95%;
  margin: 5px 0;
  letter-spacing: 0.1em;
}
.net-logos {
  margin: 45px 0;
}
.net-logos i {
  font-size: 6em !important;
}
.acc-btn-red {
  font-family: "Open Sans";
  color: #F26665;
  letter-spacing: 0.1em;
}
.acc-btn-red:hover {
  color: #ea4d4c;
  text-decoration: none;
}

#intercom-container .intercom-launcher {
  bottom: 90px !important;
}
#intercom-launcher {
  margin-right: 15px !important;
}

.random-text {
  position: fixed;
  top: 25%;
  text-align: center;
  width: 60%;
  left: 28%;
  color: #10ac4b;
  font-weight: bold;
  margin: auto;
  font-size: 20px;
}
.plan-name {
  font-size: 0.9em;
  margin: 23px;
  padding: 5px 15px;
  color: #fff;
  border-radius: 7% / 50%;
  background-color: #F26665;
  letter-spacing: 0.1em;
}
body {
  background-color: #fff;
}

@media (min-width: 768px) {
  #navbar-whole {
    height: 30px;
    min-height: 74px;
    background-color: #f3f3f3;
  }
  #logo_class {
    top: -10px;
    width: 100%;
    margin-left: 30px;
  }
}

#logo_class {
  margin-top: -15px;
}

label.error {
  display: none;
  color: red;
}
.home_right_icon1 {
  border-radius: 50%;
}
.publish_btn {
  background: #10ac4b;
  border-radius: 25px;
  position: relative !important;
  right: 15px;
  color: rgb(255, 255, 255) !important;
  font-size: 13px;
  top: 20px;
  padding: 8px 19px !important;
}
.publish_btn:hover {
  background: #10ac4b !important;
  color: #000 !important;
}

.opts {
  display: flex;
}

.opt_panel--pricing {
  background-color: #f15c5a;
  color: #fff;
  border: 5px solid #fff;
  cursor: pointer;
  flex: 1;
}

.opt_selected {
  background-color: #286090;
}

.bottom-img-preview {
  width: 34% !important;
}

.sidebar, .sidebar-nav > li > a {
  font-family: "Open Sans";
}
.sidebar-nav > li > a {
  font-size: 1em;
  letter-spacing: 0.2em;
  padding-left: 15px;
}
.list-text {
  font-size: 0.8em;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 15px;
}
.sidebar-nav > li {
  line-height: 1;
  margin: 25px 0;
}
.cust-size-bg {
  font-size: 1.3em;
}
.cust-size-fg {
  color: #000;
  font-size: 0.8em;
}
#wrapper.toggled #sidebar-wrapper ul.sidebar-nav li a {
  color: #fff;
  font-size: 1em;
  padding-left: 0;
  border-left: 0;
}
#wrapper.toggled #sidebar-wrapper ul.sidebar-nav li a:hover {
  color: #f26665;
  box-shadow: inset 5px 0px 0 #f26665;
  border-left: 0;
}
#wrapper.toggled #sidebar-wrapper ul.sidebar-nav li a [class^="list-text"] {
  display: none;
}
