body.user_sign_out {
  .menu_wrap {
    .navbar-toggle {
      &.collapsed {
        display: none;
      }
    }
  }
  .cnt_wrap {
    .container-fluid {
      #wrapper {
        padding-left: 0;
        #page-content-wrapper {
          @media screen and (max-width: 800px) {
            left: 0;
          }
          .container-fluid {
            position: absolute;
            width: 50%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            h2 {
              padding: 15px;
              margin: 0;
            }


            @media screen and (max-width: 800px) {
              width: 80%;
              h2 {
                font-size: 20px;
              }
            }

            form.simple_form {
              padding: 15px;
              .form-actions {
                a {
                  font-family: "Gotham Book Regular";
                  display: inline-block;
                  margin-bottom: 0;
                  font-weight: normal;
                  text-align: center;
                  vertical-align: middle;
                  cursor: pointer;
                  background-image: none;
                  border: 1px solid transparent;
                  white-space: nowrap;
                  padding: 6px 12px;
                  font-size: 14px;
                  line-height: 1.428571429;
                  border-radius: 4px;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                  color: #333;
                  background-color: #fff;
                  border-color: #ccc;
                  &:hover {
                    color: #333;
                    background-color: #e6e6e6;
                    border-color: #adadad;
                  }
                }
              }
            }


          }
        }
      }
    }
  }
}