<style>
.fb-logo-wrapper {
    background-color: #4267b2;
    padding: 10px;
    display: inline-block;
}
._2md {
    background-image: url(<%= asset_path 'qH-JSN-83eF.png' %>);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -113px;
    display: block;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
}
</style>

<div class="fb-logo-wrapper">
    <span class="_2md">Facebook</span>
</div>
