$('#send_enquiry_info').prepend("<p class='success-msg form-group' style='font-size: 16px; color: green;'>The email has been sent successfully.</p>");
setTimeout(function(){
  $('#send_enquiry_info').find('p.success-msg').remove();
}, 3000);